<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑主题--管理后台</title>
    <link th:href="@{/css/admin.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="main">
    <div th:replace="admin/common :: #top"></div>
    <div th:replace="admin/common :: #opt_list"></div>
    <div id="opt_area">
        <ul class="classlist">

            <li> 国内
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="topic_modify.html">修改</a>
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="#">删除</a>
            </li>
            <li> 国际
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="topic_modify.html">修改</a>
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="#">删除</a>

            </li>
            <li> 军事
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="topic_modify.html">修改</a>
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="#">删除</a>

            </li>
            <li> 体育
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="topic_modify.html">修改</a>
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="#">删除</a>

            </li>
            <li> 娱乐
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="topic_modify.html">修改</a>
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="#">删除</a>

            </li>
            <li> 社会
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="topic_modify.html">修改</a>
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="#">删除</a>

            </li>
            <li> 财经
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="topic_modify.html">修改</a>
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="#">删除</a>

            </li>
            <li> 科技
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="topic_modify.html">修改</a>
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="#">删除</a>

            </li>
            <li> 健康
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="topic_modify.html">修改</a>
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="#">删除</a>

            </li>
            <li> 汽车
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="topic_modify.html">修改</a>
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="#">删除</a>

            </li>
            <li> 教育
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="topic_modify.html">修改</a>
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="#">删除</a>

            </li>
            <li> 房产
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="topic_modify.html">修改</a>
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="#">删除</a>

            </li>
            <li> 家居
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="topic_modify.html">修改</a>
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="#">删除</a>

            </li>
            <li> 旅游
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="topic_modify.html">修改</a>
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="#">删除</a>

            </li>
            <li> 文化
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="topic_modify.html">修改</a>
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="#">删除</a>

            </li>
            <li> 其他
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="topic_modify.html">修改</a>
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="#">删除</a>

            </li>
        </ul>
    </div>
    <div th:replace="admin/common :: #footerbar"></div>
</div>
</body>
</html>	